:root {
  --background-color: #F4F4F4;
  --text-color: #404040;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {

  font-size: 3.2em;
  line-height: 1.1;
}
